*{
    margin: 0;
    box-sizing: border-box;
}
div{
    border: 3px solid #424040;
   
    height: 500px;
    display: inline-block;
    margin: 30px 2% 0 3%;
    width: calc(80% /3);
    vertical-align: top;
    word-break: break-all;
    position: relative;
}
 h2{
    margin-left:6px;
}
img{
    width: 100%;
    margin-top: 20px;

}
.lorem{
    padding:50px 7px 0;
}
.footer {
position: absolute;
width:100% ;
bottom: 0;

padding: 7px;
background-color: black; color: white;
}