body{
    background-image: url(../../imgs/pexels-photo-691668.jpeg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
}
/* p     selector */
/* {color: blue;} declaration */
/* color property  */
/* blue value  */

h1{
    color: rgb(94, 8, 60);
border-width: 40px;
border: rgb(255, 0, 200) solid ;
text-align: center;
font-weight: 100;
font-style: italic;

}

/* nestud */
div ol > li:nth-child(2){
font-size: 25px;
text-decoration:underline;
text-transform: uppercase;
border-width: 7px 4px 6px 7px;
text-emphasis: filled  double-circle #ffb703 ;
}
/* li:first-child{
    color: aqua;
} */
/* div:last-of-type{
    margin-top: 100px;
    height: 200px;
    /* background-image: url(../../imgs/pexels-photo-1525041.jpeg); */
*/
ul li a:first-of-type {
text-decoration: none;
color: #ffb703;
}
ul li:last-of-type {
    background: rgb(127, 150, 255);
color: chartreuse;
}
div p {
    color: red;
}
div:nth-of-type(2) p:nth-child(2){
    color:#ffb703;
}