p:nth-of-type(1){
    color: orange;
}
h2 {
    text-align: right;
}

p:nth-of-type(2){
    text-transform: capitalize;
}
p:nth-of-type(3){
font-family: 'Courier', Courier, monospace;
text-align: right;
}