div{
    width: 150px;
    height: 150px;
    /* background: linear-gradient(to bottom, green,blue); */
    background-image:linear-gradient(to bottom, green, green);
    transform: translatex(187%);
  
    
    border-radius: 30px;
    animation-direction: alternate;
    animation: circle 9s linear 1 ;

   

}
/* direction fill-mode */
@keyframes circle {
    0%{
        transform: translate(369% ,0);
    background: linear-gradient(to bottom, green,blue);


    }
    25%{
    background: linear-gradient(to bottom, rgb(16, 208, 225),blue);
       transform: translate(369% ,227%);
       opacity: 1;

    }
    50%{
    background: linear-gradient(to bottom, blue,yellow);
    transform: translate(100% ,227%);
    opacity: 1;
}
 

60%{
    background: linear-gradient(to bottom, yellow,orange);  
    transform: translate(0% ,227%);
    opacity: 1;

}

80%{
    background: linear-gradient(to bottom,orange, brown);  
    transform: translate(0% ,0%);

    opacity: 1;

}

100%{
    background: linear-gradient(to bottom,brown, green);  
    transform: translate(80% ,0);
    opacity: 1;


}
 
    /* 100%{
        opacity: 1;
    transform: translate(100% ,0);
    background: linear-gradient(to bottom,green, green);
    background: linear-gradient(to bottom,brown, green);  



    } */
}

